Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  portability-*,
  performance-*,
  readability-misleading-indentation
WarningsAsErrors: 'bugprone-*,clang-analyzer-*'
HeaderFilterRegex: 'wordcount\.h|wc_.*\.c'
FormatStyle: none
