Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-misleading-indentation
WarningsAsErrors: 'bugprone-*,cert-*,clang-analyzer-*,performance-*,portability-*,readability-misleading-indentation'
HeaderFilterRegex: 'wordcount\.h|wc_.*\.c'
FormatStyle: none
